* {
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-around;
}
/* 
.main__form div {
  margin-top: 10px;
} */

.main__form__input {
  width: 100%;
  border: 1px solid #E0E0E0;
  outline: 0;
  padding: 11px 15px;
  border-radius: 4px;
  background: 0 0;
  line-height: 1.2em;
  position: relative;
  z-index: 2;
  font-weight: 300;
  box-shadow: inset 1px 1px #f5f5f5;
}

.main__form__button {
  width: 100%;
  border-radius: 3px;
  display: inline-block;
  color: #000;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px rgb(0 0 0 / 4%);
  vertical-align: middle;
  outline: 0;
  min-height: 40px;
  padding: 7px 15px;
  transition: background .15s ease-in-out,border-color .15s ease-in-out,color .15s ease-in-out;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #e0bb00;
  background: #ffd400;
  color: #000;
}