.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  justify-content: space-around;
}
