* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --accent-color: #ffd400;
  --accent-border: #e0bb00;
  --error-color: red;
  --black-color: #000;
  --shadow-base: #f5f5f5;
  --border-base: #E0E0E0;
  --success-base: #00CF33;
  --white-color: #fff;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.form__field {
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 11px 15px;
  display: block;
  border: 1px solid var(--border-base);
  border-radius: 4px;
  outline: 0;
  background: 0 0;
  box-shadow: inset 0px 0px 1px var(--shadow-base);
  font-weight: 300;
  transition: all .2s linear;
}

.form__input:hover {
  box-shadow: inset 0px 0px 5px var(--shadow-base);
}

.form__input:focus {
  padding: 10px 14px;
  border: 2px solid var(--border-base);
  box-shadow: inset 0px 0px 5px var(--shadow-base);
}

.form__input img {
  width: 20px;
  height: 20px;
  display: block;
  opacity: 0.4;
}

.form__button {
  width: 100%;
  min-height: 40px;
  padding: 7px 15px;
  color: var(--black-color);
  border: 1px solid var(--accent-border);
  border-radius: 3px;
  outline: 0;
  background: var(--accent-color);
  box-shadow: 0 2px rgb(0 0 0 / 4%);
  cursor: pointer;
  transition: 
    background .15s ease-in-out, border-color .0s ease-in-out,
    color .15s ease-in-out, box-shadow .15s ease-in-out;
  
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.form__button:hover {
  box-shadow: inset 0px 0px 5px rgb( 0 0 0 / 10%);
}

.form__button:active {
  border: 1px solid rgb( 0 0 0 / 50%);
  box-shadow: inset 0px 0px 10px rgb( 0 0 0 / 15%);
}


label[for="avatar"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

label[for="avatar"] .form__button {
  width: fit-content;
  padding: 5px 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.form__input_select {
  width: fit-content;
  display: flex;
  align-items: center;
}

.form__input_filename {
  margin-left: 10px;
}


.form__error {
  padding: 5px 0 0 0;
  margin: 0;
  color: var(--error-color);
  font-weight: 400;
  font-size: 12px;
}

.hidden {
  visibility: hidden;
  user-select: none;
}


.success {
  color: var(--white-color);
  background: var(--success-base);
}

@media screen and (max-width: 1000px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 75%;
  }
}
